{% extends 'missionlogger/base.html' %}

{% block title %}{{ mission.title }} Vessels {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% for vessel in vessels %}
        <div class="col s12 m6">
              <div class="card hoverable">
                <div class="card-content">
                  <p><span class="card-title">{{ vessel.name }}</span></p>
                </div>
                  <div class="card-action">
                      <a class="black-text" href="{% url 'missionlogger:index' %}">Back</a>
                  </div>
              </div>
        </div>
        {% endfor %}
      </div>
</div>
{% endblock %}